.image_1 {
    height: 350px;
    width: 450px;
    display:flex;
    align-items: center;
    justify-content: :center;
}

.architecture_photos {
    height: 100px;
    width: 100px;
}

h1 {
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

.header {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: white;
}