body {
  background-color: #FFFFFF;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Roboto', arial;
}

.container {
  display: flex;
  flex-direction: column;
}

.nav_bar {
  display: flex;
  padding: 20px 0px 20px 100px;
  align-items: center;
  justify-content: space-between;
}

header {
  background-color: #1F2937;
}

h1 {
  color: white;
  font-size: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}

.header_links {
  font-size: 18px;
  color:#E5E7EB;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-end;
  gap: 10px;
  padding: 10px;
}