* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#section_1 #section_2 #section_3 #section_4 > * {
    flex-basis: 25%;
  }

h1 {
  color:white;
  padding: 8px;
  font-size: 24px #F9FAF8;
}

header {
  display: flex;
  flex-direction: row;
  flex-flow: nowrap;
  justify-content: space-between;
}

.header_links {
  color: #E5E7EB;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  list-style: none;
  padding: 8px;
  font-size: 18px;
}

#section_1 {
  display: flex;
  flex-flow: nowrap;
  padding: 40px;
  justify-content: center;
}

.section_1_left {
  width: 50vw;
  padding:20px;
}

.button_sec1 {
    color: white;
    background-color: #3882F6;
    border-radius: 5px;
    border:5px;
  }

h2 {
  font-size: 48px;
  font-weight: extra-bold;
  color: #F9FAF8;
}

.section_1_left p {
  color: #E5E7EB;
  font-size: 18px;
}

.section_1_right {
  width: 50vw;
  padding: 20px;
  margin: 20px;
  margin-left: 300px;
}

.image_1 {
  height: 350px;
  width: 450px;
}

/*THIS LINE SEPERATES THE END OF SECTION_1 FROM THE BEGINNING OF SECTION_2*/

h3 {
    color: #1F2937;
    font-size: 36px;
    font-weight: extra-bold;
    display: flex;
    justify-content: center;
  }
  
  .architecture_list {
       display: flex;
       flex-direction: row;
       margin: 0;
       gap: 8px;
       justify-content: space-between;
       align-items: center;
       list-style: none;
  }
  
  figcaption {
    display: flex;
    align-self: center;
    width: 150px;
    height: 100px;
    }
  
  .architecture_photos {
       height: 100px;
       width: 100px;
       height: 150px;
       width: 150px;
       border: 5px;
    border-style: solid;
     border-color: #3882F6;
     border-radius: 8%;
  }

  /*THIS LINE SEPERATES THE END OF SECTION_2 AND THE BEGINNING OF SECTION_3*/

  
  .section_3_body_text{
    font-size: 36px;
    color: #1F2937;
    font-style: light italic;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px;
    padding:25px;
  }
  
  .thor_signoff {
    display: flex;
    margin-left: 70%;
    }

    /*THIS LINE SEPERATES THE END OF SECTION_3 AND THE BEGINNING OF SECTION_4*/
  
    #section_4 {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .call_to_action {
        background-color: #3882F6;
        height: 40px;
        margin: 100px;
        padding: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 25px;
      }
      
      .button_sec2 {
        border: 1px;
        border-style: solid;
        border-color: white;
        border-radius: 5px;
        background-color: #3882F6;
        color: white;
      }

      .call_to_action h4 {
        color: white;
        
      }
      
      .call_to_action p {
        color: #E5E7EB;
      }
      
      .call_to_action_words {
        display: flex;
        flex-direction: column;
        justify-content:center;
        
      }
      
      #section_5 {
        color: #E5E7EB;
        display: flex;
        justify-content: center;
        align-items: center;
      }